* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blue-gray);
}

.wrapper {
    max-width: 1200px;
}

a {
    text-decoration: none;
}