/* Mobile */
.navigation {
  max-width: 440px;
  width: 100%;
  padding: 16px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 24px;
  background-color: white;
}

.angle-45 {
  transform: rotate(45deg);
}

.angle-135 {
  margin-top: -2px;
  transform: rotate(135deg);
}

.cross {
  display: none;
}

.navigation-links {
  display: none;
}

.dropdown-triangle {
  margin-top: 8px;
  margin-left: 2px;
  border: 6px solid transparent;
  border-top-color: white;
}

#nav-toggle:checked ~ .navigation-links {
  position: absolute;
  width: 100vw;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 72px;
}

#nav-toggle:checked ~ .hamburger {
  display: none;
}

#nav-toggle:checked ~ .cross {
  display: block;
}

.navigation-link {
  padding-left: 24px;
  color: white;
  display: flex;
  align-items:center;
}

.navigation-link--button {
  display: none;
}

.navigation-link-rule {
  width: calc(100% - 48px);
  opacity: 25%;
}

/* Tablet & Desktop */
@media screen and (min-width: 896px) {
  .navigation {
    max-width: 1200px;
  }

  .hamburger {
    display: none;
  }

  .navigation-links{
    display: flex;
  }

  .navigation-link-rule {
    display: none;
  }

  .navigation-link--button{
    display: flex;
    color: white;
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--blue);
  }

  .triangle {
    margin-top: 22px;
    margin-left: 4px;
    height: 8px;
    border: 8px solid transparent;
    border-left-color: white;
  }
}
