/* Mobile */
.navigation {
  /* TODO: position: fixed; */
  /* position: fixed;
  z-index: 10; */
  font-family: Helvetica, sans-serif;
  max-width: 440px;
  width: 100%;
  padding: 16px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 24px;
  background-color: white;
}

.angle-45 {
  transform: rotate(45deg);
}

.angle-135 {
  margin-top: -2px;
  transform: rotate(135deg);
}

.cross {
  display: none;
  cursor: pointer;
}

.navigation-links {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > a {
  display: flex;
  width: calc(100% - 24px);
  justify-content: space-between;
}

.dropdown-triangle {
  margin-top: 8px;
  margin-left: 2px;
  border: 6px solid transparent;
  border-top-color: white;
}

.dropdown-content {
  display: none;
}

#nav-toggle:checked ~ .navigation-links {
  position: absolute;
  width: 100vw;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  height: 512px;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 72px;
  background-color: var(--blue-gray);
}

#nav-toggle:checked ~ .hamburger {
  display: none;
}

#nav-toggle:checked ~ .cross {
  display: block;
}

.navigation-link {
  padding-left: 24px;
  color: white;
  display: flex;
  align-items: center;
}

.navigation-link--button {
  display: none;
}

.navigation-link-rule {
  width: calc(100% - 48px);
  opacity: 25%;
}

/* Tablet & Desktop */
@media screen and (min-width: 900px) {
  .navigation {
    max-width: 1200px;
  }

  .hamburger {
    display: none;
  }

  .navigation-links {
    display: flex;
    /* position: relative; */
  }

  .navigation-link-rule {
    display: none;
  }

  .navigation-link--button {
    display: flex;
    color: white;
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--blue);
  }

  .navigation-button-triangle {
    margin-top: 22px;
    margin-left: 4px;
    height: 8px;
    border: 8px solid transparent;
    border-left-color: white;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 256px;
    background-color: white;
    padding: 0 24px 24px;
    overflow: hidden;
  }

  .dropdown-content-links > a {
    padding-top: 20px;
  }

  .dropdown:hover > .dropdown-content {
    display: block;
    margin-top: 12px;
  }

  .dropdown-content-links {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content > img {
    height: 128px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}
