.partnerships-wrapper {
  margin-top: 64px;
  margin-left: 0;
  margin-right: 0;
  padding: 24px;
  background-color: white;
  width: 100%;
  overflow: auto;
}

.partnerships {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partnerships-carousel {
  margin-left: auto;
  margin-right: auto;
}

.carousel-item {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.carousel-item:first-child {
  margin-top: 0;
}

.carousel-image {
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 8px;
}

@media screen and (min-width: 900px) {
  .partnerships {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
  }

  .partnerships-carousel {
    margin: 0;
    display: flex;
    white-space: nowrap;
  }

  .carousel-item {
    min-width: 400px;
    margin-right: 24px;
  }

  .carousel-item:first-child {
    margin-top: 24px;
  }
}
