.why-tiller-container {
  position: relative;
  width: 375px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
}

.why-tiller {
  background-color: white;
  width: 350px;
  height: 350px;
  padding: 24px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.why-tiller--light-green {
  display: block;
  height: 312px;
  width: 375px;
  background-color: var(--light-green);
  position: absolute;
  bottom: -25px;
  right: 0px;
}

.why-tiller-button {
  margin-top: 32px;
  padding: 32px;
  display: flex;
  background-color: var(--blue);
  color: white;
  width: 160px;
  height: 48px;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in;
}

.why-tiller-button:hover {
  background-color: var(--light-green);
}

.why-tiller-triangle {
  margin-top: 0;
  margin-left: 4px;
  height: 6px;
  border: 6px solid transparent;
  border-left-color: white;
}

.why-tiller > img {
  display: none;
}

@media screen and (min-width: 900px) {
  .why-tiller-container {
    width: 100%;
    max-width: 1200px;
  }

  .why-tiller {
    width: calc(100% - 64px - 50px);
    height: 350px;
    margin-left: 32px;
    left: 0px;
    bottom: 0px;
  }

  .why-tiller--light-green {
    margin-left: 32px;
    margin-right: 32px;
    width: calc(100% - 64px);
    height: 350px;
    left: 0px;
    bottom: -50px;
  }

  .why-tiller > img {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}
